<footer class="page-footer welcome">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">
            <%= titleweb %> is one of the Best Online Tool to Download TikTok
            Videos without watermark also you can download TikTok MP3 music
            for free.
          </p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Quick Links</h5>
          <ul>
            <li>
              <a class="grey-text text-lighten-3" href="/terms"
                >Terms of Use</a
              >
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="/privacy"
                >Privacy Policy</a
              >
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="/contact"
                >Contact Us</a
              >
            </li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">More Tools</h5>
          <ul>
            <li>
              <a
                class="grey-text text-lighten-3"
                target="_blank"
                href="https://t.me/YouTubeDownlderBot?start=start"
                >YouTube Downloader (Telegram Bot)</a
              >
            </li>
          </ul>
        </div>
     <div class="col l3 s12">
          <h5 class="white-text">Informasi</h5>
          <ul>
            <li class="grey-text text-lighten-3">
              Your IP: <%= ipAddr %>
              </li>
             <li class="grey-text text-lighten-3">
              Browser: <%= ua.browser %>
            </li>
           <li class="grey-text text-lighten-3">
              Platform: <%= ua.platform  %>
            </li>
         <li class="grey-text text-lighten-3">
              Response Time: <%= (Date.now() - speeds) / 1000 %> Seconds
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <%- new Date().getFullYear() %> © <%= titleweb %>, Created by <a class="grey-text text-lighten-3" href="//gariox3d.github.io">Gariox 3D</a>
      </div>
    </div>
  </footer>
